.section {
  background-color: rgb(126, 126, 126);
  height: fit-content;
  padding: 2% 0%;
}

.section h2 {
  text-align: center;
}

.itemsGrid {
  width: 90vw;
  height: fit-content;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

.center_section {
  display: flex;
  justify-content: center;
}
