.section {
  background-color: #ffffff;
  height: 115vh;
  width: 100vw;
  /* padding: 2% 0%; */
  background-image: url(../../shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
}

.itemsGrid {
  width: 90vw;
  height: fit-content;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

.center_section {
  display: flex;
  justify-content: center;
}

.last {
  margin-top: auto;
}

@media screen and (max-width: 800px) {
  .itemsGrid {
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    width: 30vw;
    word-wrap: break-word;
  }
  .section h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .itemsGrid {
    grid-template-columns: 1fr 1fr;
  }
}
