.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34cc;
  height: 115vh;
  width: auto;
  background-image: url(../shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
