.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  font-size: 1.2rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav li {
  padding: 1rem;
  list-style: none;
}

.nav img {
  cursor: pointer;
  height: 5rem;
  width: auto;
}

.nav ul button {
  font-size: 1.5rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  color: #6b5614;
}
